[submodule "external/iSniff-GPS"]
	path = external/iSniff-GPS
	url = https://github.com/hubert3/iSniff-GPS
[submodule "external/wifijammer"]
	path = external/wifijammer
	url = https://github.com/DanMcInerney/wifijammer
[submodule "external/pylorcon2"]
	path = external/pylorcon2
	url = https://github.com/tom5760/pylorcon2
[submodule "external/peapwn"]
	path = external/peapwn
	url = https://github.com/rpp0/peapwn
[submodule "external/snoopy-ng"]
	path = external/snoopy-ng
	url = https://github.com/sensepost/snoopy-ng
[submodule "external/wps"]
	path = external/wps
	url = https://github.com/devttys0/wps
[submodule "external/wpscrack"]
	path = external/wpscrack
	url = https://github.com/ml31415/wpscrack
[submodule "external/wifite"]
	path = external/wifite
	url = https://github.com/derv82/wifite
