[submodule "external/iSniff-GPS"]
	path = external/iSniff-GPS
	url = https://github.com/hubert3/iSniff-GPS
[submodule "external/wifijammer"]
	path = external/wifijammer
	url = https://github.com/DanMcInerney/wifijammer
[submodule "external/pylorcon2"]
	path = external/pylorcon2
	url = https://github.com/tom5760/pylorcon2
[submodule "external/peapwn"]
	path = external/peapwn
	url = https://github.com/rpp0/peapwn
[submodule "external/snoopy-ng"]
	path = external/snoopy-ng
	url = https://github.com/sensepost/snoopy-ng
[submodule "external/wps"]
	path = external/wps
	url = https://github.com/devttys0/wps
[submodule "external/wpscrack"]
	path = external/wpscrack
	url = https://github.com/ml31415/wpscrack
[submodule "external/wifite"]
	path = external/wifite
	url = https://github.com/derv82/wifite
[submodule "external/eapeak"]
	path = external/eapeak
	url = https://github.com/securestate/eapeak
[submodule "external/airview"]
	path = external/airview
	url = https://github.com/Crypt0s/airview
[submodule "external/py80211"]
	path = external/py80211
	url = https://code.google.com/p/py80211/
[submodule "external/wifuzzit"]
	path = external/wifuzzit
	url = https://github.com/0xd012/wifuzzit
[submodule "external/cornuprobia"]
	path = external/cornuprobia
	url = https://github.com/4ZM/cornuprobia
[submodule "external/GrapplingHook"]
	path = external/GrapplingHook
	url = https://github.com/nseetharaman/GrapplingHook
[submodule "external/scapy-fakeap"]
	path = external/scapy-fakeap
	url = https://github.com/rpp0/scapy-fakeap
[submodule "external/probemon"]
	path = external/probemon
	url = https://github.com/jjb3tee3/probemon/
[submodule "external/wifidec"]
	path = external/wifidec
	url = https://github.com/twitchyliquid64/wifidec
[submodule "external/WPS-PIN"]
	path = external/WPS-PIN
	url = https://github.com/linkp2p/WPS-PIN
[submodule "external/airport-sniffer"]
	path = external/airport-sniffer
	url = https://github.com/zhovner/airport-sniffer
[submodule "external/waidps"]
	path = external/waidps
	url = https://github.com/SYWorks/waidps
[submodule "external/wifiphisher"]
	path = external/wifiphisher
	url = https://github.com/sophron/wifiphisher
[submodule "external/airodump-iv"]
	path = external/airodump-iv
	url = https://github.com/ivanlei/airodump-iv
[submodule "external/wraith"]
	path = external/wraith
	url = https://github.com/wraith-wireless/wraith
[submodule "external/scapy-rssi"]
	path = external/scapy-rssi
	url = https://github.com/azz2k/scapy-rssi
[submodule "external/wireless-radar"]
	path = external/wireless-radar
	url = https://github.com/stef/wireless-radar
[submodule "external/WifiStalker"]
	path = external/WifiStalker
	url = https://github.com/blaa/WifiStalker
[submodule "external/hotspotd"]
	path = external/hotspotd
	url = https://github.com/prahladyeri/hotspotd
[submodule "external/dot11er"]
	path = external/dot11er
	url = https://github.com/timow/dot11er
[submodule "external/wifiwho"]
	path = external/wifiwho
	url = https://github.com/meeuw/wifiwho
[submodule "external/pyReaver"]
	path = external/pyReaver
	url = https://github.com/byt3bl33d3r/pyReaver
[submodule "external/WLAN-Monitoring"]
	path = external/WLAN-Monitoring
	url = https://github.com/sajjanbh/WLAN-Monitoring
[submodule "external/80211-fun"]
	path = external/80211-fun
	url = https://github.com/flupzor/80211-fun
[submodule "external/smallWifiTools"]
	path = external/smallWifiTools
	url = https://github.com/3ll060/smallWifiTools
[submodule "external/wlan-stats"]
	path = external/wlan-stats
	url = https://github.com/hughobrien/wlan-stats
[submodule "external/wifi-monitor"]
	path = external/wifi-monitor
	url = https://github.com/tadashi/wifi-monitor
[submodule "external/wifitap"]
	path = external/wifitap
	url = https://github.com/viscousliquid/wifitap
[submodule "external/wireless-ids"]
	path = external/wireless-ids
	url = https://github.com/SYWorks/wireless-ids
[submodule "external/horst"]
	path = external/horst
	url = https://github.com/br101/horst
