[submodule "external/iSniff-GPS"]
	path = external/iSniff-GPS
	url = https://github.com/hubert3/iSniff-GPS
[submodule "external/wifijammer"]
	path = external/wifijammer
	url = https://github.com/DanMcInerney/wifijammer
[submodule "external/pylorcon2"]
	path = external/pylorcon2
	url = https://github.com/tom5760/pylorcon2
[submodule "external/peapwn"]
	path = external/peapwn
	url = https://github.com/rpp0/peapwn
[submodule "external/snoopy-ng"]
	path = external/snoopy-ng
	url = https://github.com/sensepost/snoopy-ng
[submodule "external/wps"]
	path = external/wps
	url = https://github.com/devttys0/wps
[submodule "external/wpscrack"]
	path = external/wpscrack
	url = https://github.com/ml31415/wpscrack
[submodule "external/wifite"]
	path = external/wifite
	url = https://github.com/derv82/wifite
[submodule "external/eapeak"]
	path = external/eapeak
	url = https://github.com/securestate/eapeak
[submodule "external/airview"]
	path = external/airview
	url = https://github.com/Crypt0s/airview
[submodule "external/py80211"]
	path = external/py80211
	url = https://code.google.com/p/py80211/
[submodule "external/wifuzzit"]
	path = external/wifuzzit
	url = https://github.com/0xd012/wifuzzit
[submodule "external/cornuprobia"]
	path = external/cornuprobia
	url = https://github.com/4ZM/cornuprobia
[submodule "external/GrapplingHook"]
	path = external/GrapplingHook
	url = https://github.com/nseetharaman/GrapplingHook
[submodule "external/scapy-fakeap"]
	path = external/scapy-fakeap
	url = https://github.com/rpp0/scapy-fakeap
[submodule "external/probemon"]
	path = external/probemon
	url = https://github.com/jjb3tee3/probemon/
[submodule "external/wifidec"]
	path = external/wifidec
	url = https://github.com/twitchyliquid64/wifidec
[submodule "external/WPS-PIN"]
	path = external/WPS-PIN
	url = https://github.com/linkp2p/WPS-PIN
[submodule "external/airport-sniffer"]
	path = external/airport-sniffer
	url = https://github.com/zhovner/airport-sniffer
[submodule "external/waidps"]
	path = external/waidps
	url = https://github.com/SYWorks/waidps
[submodule "external/wifiphisher"]
	path = external/wifiphisher
	url = https://github.com/sophron/wifiphisher
